@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');
/******************** This is for the code**********************/
.inactive{
    display:none;
}

.touch{
    cursor: pointer;
}

/******************** This is a placeholder**********************/
img{
    width:100%;
}

/******************** here we go motherfuckers******************/
body{
	font-family: Helvetica, sans-serif;
	background-color: #D4EFFC;
}

.weird{
	font-family: 'Kelly Slab', cursive;
	font-size: 6em;
	margin-top: 0;
	padding-top: 0;
}

#logo{
	margin-top: 5em;
}

img{
	max-width: 100%;
}


.detail-btn{
    margin-bottom: 1em;
}


a{
	text-decoration: none;
	display: inline-block;
	padding: .3em 0em;
	border-radius: .7em;
	background-color: black;
	color: white;
	font-family: 'Kelly Slab', cursive;
	font-size: 1.3em; 
	text-align: center

}

#cat-nav a{
	display: block;
}


#details-main{
	margin-top: 5em;
}

#details-main article a{
	display: block;
	width: 8em;
}


a:hover{
	color: black
	background-color: white;
}


@media screen and (min-width: 700px){
	img{
		width:50%;
	}
	body{
		width: 70vw;
		margin: auto;
	}
	#details-main{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap:1em;
	}
	#details-main img{
		width:100%;
	}
	#cat-nav a{
		margin: 1em .2em;
		display: inline-block;
	}
}